<div class="container">
<h1>指数计算结果</h1>

<table id="result" class="table-bordered">
    <thead>
    </thead>

    <tbody>
        {{#result_table names index1 index2}}
        {{/result_table}}
    </tbody>
</table>

</div>
