<div class="container">
<h1>指数计算结果</h1>

<div class="table-responsive">
<table id="result" class="table table-striped table-hover">
    <thead>
        <tr class="info">
        <th>序号</th>
        <th>个体号</th>
        <th>指数1</th>
        <th>指数2</th>
        </tr>
    </thead>

    <tbody>
        {{#result_table names index1 index2}}
        {{/result_table}}
    </tbody>
</table>
</div>

</div>
